.App {
  position: relative;
  height: 100vh;
  background: center/cover no-repeat;
  @each $member in top, bottom, left, right {
    .#{$member} {
      #{$member}: 0;
    }
  }
  #main-view {
    position: absolute;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.31) 0px 0px 1px, rgba(0, 0, 0, 0.18) 0px 0px 5px,
      rgba(0, 0, 0, 0.3) 0px 8px 50px;
  }

  .AppMain {
    display: grid;
  }
}
.icon-font {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.AppFinder {
  padding: 0 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  height: 2rem;
  background-color: rgba(222, 223, 227, 0.6);
  box-shadow: rgba(0, 0, 0, 0.31) 0px 0px 1px, rgba(0, 0, 0, 0.18) 0px 0px 5px,
    rgba(0, 0, 0, 0.3) 0px 8px 50px;
  transition: opacity 0.6s 0.2s;
  .FinderLeft,
  .FinderRight {
    display: flex;
    justify-content: center;
    align-items: center;
    div,
    a {
      font-family: "PingFang SC";
      font-weight: Bold;
      color: #000;
      font-size: 18px;
      padding-right: 24px;
      cursor: default;
    }
    div {
      position: relative;
      input {
        width: 100px;
        height: 30px;
        border-radius: 3px;
      }
      .text {
        padding: 3px 6px;
        &.active {
          background-color: #3970ea;
          color: #fff;
        }
      }
      .menu {
        width: 300px;
        display: none;
        background-color: rgba(230, 230, 230, 1);
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.31) 0px 0px 1px,
          rgba(0, 0, 0, 0.18) 0px 0px 5px, rgba(0, 0, 0, 0.3) 0px 8px 50px;
        &.active {
          position: absolute;
          top: 30px;
          display: block;
        }
        .line {
          height: 2px;
          width: 100%;
          background-color: #d9d9d9;
        }
        li {
          padding: 0 28px;
          margin: 6px 0;
          line-height: 30px;
          &:hover {
            background-color: #4493fe;
            color: #fff;
          }
        }
      }
    }
  }

  .FinderRight {
    a {
      cursor: pointer;
    }
  }
}

.mainSet {
    display: flex;
    .leftSet {
      width: 172px;
      background-color: #f0f0f0;
      border-bottom-left-radius: 5px;
      .leftTitle {
        &.active {
          background: #bfbfbf;
        }
        padding: 11px 20px;
        span{
          color: #414141;
          font-size: 14px;
          font-weight: bold;
        }
      }
      div {
        overflow: inherit !important;
        ul {
          li {
            margin: 0 !important;
          }
        }
      }
    }
    .rightSet {
      overflow: auto;
      border-bottom-right-radius: 5px;
      flex-direction: column;
      padding: 30px 60px;
      width: 512px;
      height: 380px;
      background-color: #ffffff;
      .rightTitle {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: bold;
      }
      .divide {
        width: 100%;
        border-top: 1px solid #f0f0f0;
        margin-bottom: 10px;
      }
      .options {
        label {
          font-weight: bold;
          line-height: 16px;
        }
        input[type="range"] {
          margin: 0 30px 20px 0;
          width: 256px;
          -webkit-appearance: none;
          &:focus {
            outline: none;
          }
          &::-webkit-slider-runnable-track {
            height: 4px;
            background-color: #d9d9d9;
          }
          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 18px;
            width: 18px;
            margin-top: -8px; /*使滑块超出轨道部分的偏移量相等*/
            background: #ffffff;
            border-radius: 3px;
            border: 0.6px solid #d9d9d9;
            position: relative;
          }
        }
      }
    }
  }

.light {
  background-image:url(../image/light.jpg);
}
.dark {
  background-image:url(../image/dark.jpg);
}