.App {
  position: relative;
  height: 100vh;
  background: center/cover no-repeat;
  @each $member in top, bottom, left, right {
    .#{$member} {
      #{$member}: 0;
    }
  }
  #main-view {
    position: absolute;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.31) 0px 0px 1px, rgba(0, 0, 0, 0.18) 0px 0px 5px,
      rgba(0, 0, 0, 0.3) 0px 8px 50px;
  }

  .AppMain {
    display: grid;
  }
}
.icon-font {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.AppFinder {
  padding: 0 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  height: 2rem;
  background-color: rgba(222, 223, 227, 0.6);
  box-shadow: rgba(0, 0, 0, 0.31) 0px 0px 1px, rgba(0, 0, 0, 0.18) 0px 0px 5px,
    rgba(0, 0, 0, 0.3) 0px 8px 50px;
  transition: opacity 0.6s 0.2s;
  .FinderLeft,
  .FinderRight {
    display: flex;
    justify-content: center;
    align-items: center;
    div,
    a {
      font-family: "PingFang SC";
      font-weight: Bold;
      color: #000;
      font-size: 18px;
      padding-right: 24px;
      cursor: default;
    }
    div {
      position: relative;
      input {
        width: 100px;
        height: 30px;
        border-radius: 3px;
      }
      .text {
        padding: 3px 6px;
        &.active {
          background-color: #3970ea;
          color: #fff;
        }
      }
      .menu {
        width: 300px;
        display: none;
        background-color: rgba(230, 230, 230, 1);
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.31) 0px 0px 1px,
          rgba(0, 0, 0, 0.18) 0px 0px 5px, rgba(0, 0, 0, 0.3) 0px 8px 50px;
        &.active {
          position: absolute;
          top: 30px;
          display: block;
        }
        .line {
          height: 2px;
          width: 100%;
          background-color: #d9d9d9;
        }
        li {
          padding: 0 28px;
          margin: 6px 0;
          line-height: 30px;
          &:hover {
            background-color: #4493fe;
            color: #fff;
          }
        }
      }
    }
  }

  .FinderRight {
    a {
      cursor: pointer;
    }
  }
}

button:active,
  .button:active,
  select:active  {
    background: linear-gradient(bottom, #d2d2d2, #c5c5c5);
    box-shadow:
      inset 0px 2px 2px 0px rgba(0,0,0,.17),
            0px 1px 0px 0px rgba(255,255,255,.45);
    border-color: rgba(0,0,0,.55) rgba(0,0,0,.41) rgba(0,0,0,.28) rgba(0,0,0,.41);
  }
  select {
    -webkit-appearance: none;
    border-radius: 50px;
    background-color: #ededed;
    background: url(../image/dropdown-updown.png) right center no-repeat, -webkit-linear-gradient(top, #f6f6f6, #e0e0e0);
    border: 1px solid rgba(0,0,0,.4);
    background-clip: border-box;
    box-shadow: 0px 1px 0px 0px rgba(255,255,255,.45);
    display: inline-block;
    line-height: inherit;
    font-size: inherit;
    padding: 0 16px 0 8px;
    text-align: center;
  }

.light {
  background-image:url(../image/light.jpg);
}
.dark {
  background-image:url(../image/dark.jpg);
}